[Desktop Entry]
Name=Grid
Name[ca]=Quadrícula
Name[cs]=Mřížka
Name[es]=Cuadrícula
Name[fr]=Grille
Name[it]=Griglia
Name[lt]=Tinklelis
Name[nl]=Raster
Name[pt]=Grelha
Name[sl]=Mreža
Name[sv]=Rutnät
Name[uk]=Таблиця
Name[x-test]=xxGridxx
Name[zh_CN]=网格

Type=Service
X-KDE-ServiceTypes=KSysguard/SensorFace
X-KDE-ParentApp=org.kde.plasmashell
X-KDE-PluginInfo-Author=Arjen Hiemstra
X-KDE-PluginInfo-Email=ahiemstra@heimr.nl
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Name=org.kde.ksysguard.facegrid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
