[Desktop Entry]
Name=Detailed memory information
Name[de]=Detaillierte Speicherinformationen
Name[el]=Λεπτομερείς πληροφορίες για τη Μνήμη
Name[en_GB]=Detailed memory information
Name[es]=Información detallada sobre la memoria
Name[et]=Üksikasjalik mäluteave
Name[hr]=Detaljne informacije o memoriji
Name[id]=Informasi memori lengkap
Name[kk]=Жад егжей-текжейлі мәліметі
Name[km]=ព័ត៌មាន​សតិ​លម្អិត
Name[nb]=Detaljert minneinformasjon
Name[nds]=Verwiedert Informatschoon över den Spieker
Name[nl]=Gedetailleerde geheugeninformatie
Name[pt]=Informações detalhadas sobre a memória
Name[pt_BR]=Informações detalhadas sobre a memória
Name[sv]=Detaljerad minnesinformation
Name[tg]=Иттилооти муфассали хотира
Name[th]=ข้อมูลเกี่ยวกับหน่วยความจำ
Name[uk]=Докладні відомості щодо пам'яті
Name[x-test]=xxDetailed memory informationxx
Name[zh_TW]=詳細記憶體資訊
X-KDE-ServiceTypes=KSysGuard/Script
Type=Service

