[Desktop Entry]
Name=Detailed memory information
Name[de]=Detaillierte Speicherinformationen
Name[el]=Λεπτομερείς πληροφορίες για τη Μνήμη
Name[en_GB]=Detailed memory information
Name[es]=Información detallada sobre la memoria
Name[id]=Informasi memori lengkap
Name[nb]=Detaljert minneinformasjon
Name[nds]=Verwiedert Informatschoon över den Spieker
Name[pt]=Informações detalhadas sobre a memória
Name[pt_BR]=Informações detalhadas sobre a memória
Name[sv]=Detaljerad minnesinformation
Name[th]=ข้อมูลเกี่ยวกับหน่วยความจำ
Name[uk]=Докладні відомості щодо пам'яті
Name[x-test]=xxDetailed memory informationxx
Name[zh_TW]=詳細記憶體資訊
X-KDE-ServiceTypes=KSysGuard/Script
Type=Service

