[Desktop Entry]
Name=Detailed Memory Information
Name[uk]=Докладні відомості щодо пам'яті
Name[x-test]=xxDetailed Memory Informationxx
X-KDE-ServiceTypes=KSysGuard/Script
Type=Service

