[Desktop Entry]
Name=Color Grid
Name[az]=Rəng cədvəli
Name[bg]=Цвят на координатната мрежа
Name[ca]=Quadrícula de color
Name[ca@valencia]=Quadrícula de color
Name[cs]=Matice barev
Name[en_GB]=Colour Grid
Name[es]=Cuadrícula de colores
Name[eu]=Kolore-sareta
Name[fi]=Väriruudukko
Name[fr]=Grille de couleurs
Name[ia]=Grillia de color
Name[it]=Griglia dei colori
Name[ka]=ფერადი ბადე
Name[lt]=Spalvotas tinklelis
Name[nl]=Kleurraster
Name[nn]=Farga rutenett
Name[pl]=Siatka kolorów
Name[pt]=Grelha de Cores
Name[ru]=Сетка цветов
Name[sl]=Barvna mreža
Name[tr]=Renk Izgarası
Name[uk]=Кольорова таблиця
Name[vi]=Lưới màu
Name[x-test]=xxColor Gridxx
Name[zh_CN]=彩色网格
Icon=view-grid

Type=Service
X-KDE-ServiceTypes=KSysguard/SensorFace
X-KDE-ParentApp=org.kde.plasmashell
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Name=org.kde.ksysguard.colorgrid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org
